<div class="about-me-container">
    <img src="portrait.jpg" alt="Portrait" class="about-portrait">
    <div class="about-me">
        <h2>About Me</h2>
        <p>
            My name is Brandon Fong and this is my portfolio website!
            This website was made to catalogue all the personal and school projects I have worked on.
        </p>
    </div>
    <div class="education">
        <h2>Education</h2>
        <p>
            I attended College of Alameda for three years and then transferred to University of California, Davis.
            I graduated at University of California, Davis in 2024 with a Bachelor's in Computer Science.
        </p>
    </div>
</div>