<div>
    <div class="languages-text">My Languages</div>
    <footer>
        <div class="marquee">
            <div class="marquee-content">
                <!-- Original icons -->
                <img src="c_plus_plus.png" alt="C++" title="C++">
                <img src="python.png" alt="Python" title="Python">
                <img src="java.png" alt="Java" title="Java">
                <img src="favicon.ico" alt="Angular" title="Angular">
                <img src="javascript.png" alt="Javascript" title="Javascript">
                <img src="typescript.png" alt="Typescript" title="Typescript">
                <img src="css3.png" alt="CSS3" title="CSS3">
                <img src="sql.png" alt="SQL" title="SQL">
                <img src="react.png" alt="React" title="React">
                <!-- Duplicated icons (for seamless looping) -->
                <img src="c_plus_plus.png" alt="C++" title="C++">
                <img src="python.png" alt="Python" title="Python">
                <img src="java.png" alt="Java" title="Java">
                <img src="favicon.ico" alt="Angular" title="Angular">
                <img src="javascript.png" alt="Javascript" title="Javascript">
                <img src="typescript.png" alt="Typescript" title="Typescript">
                <img src="css3.png" alt="CSS3" title="CSS3">
                <img src="sql.png" alt="SQL" title="SQL">
                <img src="react.png" alt="React" title="React">
            </div>
        </div>
    </footer>
</div>